.footer {
    width: 100%;
    height: auto;
    background: #12141E;
    padding-top: 50px;
    padding-bottom: 20px;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
}
.footer__title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #e3e3e3;
    margin-bottom: 30px;
}
/* Footer Menu */
.footer__menu {
    list-style: none;
}
.footer__menu > li {
    margin-bottom: 15px;
}
.footer__link {
    text-decoration: none;
    color: #434859;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s ease all;
}
.footer__link:hover {
    color: #e3e3e3;
}

/* Footer Product */
.footer__product {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin-bottom: 15px;
}
.footer__product-img {
    margin: 0;
    padding: 0;
    text-decoration: none;
    margin-right: 15px;
}
.footer__product-img > img {
    width: 70px;
    height: 95px;
}

.footer__product-navs {
    width: 100%;
    height: auto;
}
.footer__product-inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
}
.footer__product-name {
    text-decoration: none;
    color: #EF8F12;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    transition: 0.3s ease all;
}
.footer__product-name:hover {
    text-decoration: underline;
}
.footer__product-time {
    color: #434859;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.footer__product-user {
    color: #297FD7;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.footer__product-text {
    color: #434859;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
}

/* Footer Flex Menu */
.footer__flex-menu {
    list-style: none;
    display: flex;
    align-items: center;
}
.footer__flex-menu > li {
    margin-right: 20px;
}

/* Footer Logo */
.footer__logo {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #434859;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 900;
    margin-top: 60px;
    transition: 0.3s ease all;
}
.footer__logo > span {
    font-size: 14px;
    letter-spacing: 4px;
    transition: 0.3s ease all;
}
.footer__logo:hover {
    color: #297FD7;
}
.footer__logo:hover.footer__logo > span {
    color: #e3e3e3;
}

/* Footer for Copyright */
.footer__copyright {
    width: 100%;
    height: auto;
    color: #434859;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-color: #03050B;
    padding: 10px 0;
}

/* ======================== MEDIA ======================== */
@media(max-width: 1000px) {
    .footer__inner {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__item {
        max-width: 620px;
        width: 100%;
        margin-bottom: 20px;
    }
    .footer__product {
        max-width: 100%;
    }
}
@media(max-width: 767px) {
    .footer__copyright {
        padding-bottom: 60px;
        font-size: 15px;
        font-family: sans-serif;
    }
}
@media(max-width: 480px) {
    .footer__product-inner {
        display: block;
    }
    .footer__product-name {
        font-family: sans-serif;
    }
}