.slider {
    margin-top: 100px;
    width: 100%;
    height: 460px;
    background-color: #12141E;
    display: flex;
    align-items: center;
    /* justify-content: center; */ 
    padding-bottom: 10px;
}
.slider__item {
    opacity: 0.5;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 410px;
    position: relative;
}
.slider__item.slick-center {
    opacity: 1;
}
.slider__img {
    width: 680px;
    height: 380px;
    border-radius: 5px;
}
.slider__item.slick-center .slider__img {
    width: 700px;
    height: 410px;
}
.slick-list {
    overflow: hidden;
}
.slick-track {
    display: flex;
    align-items: flex-start;
}
.slider__navs {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.slider__item.slick-center .slider__navs {
    opacity: 1;
    visibility: visible;
}
.slider__play-btn {
    font-size: 100px;
    text-decoration: none;
    color: #e3e3e3;
    transition: 0.3s ease all;
}
.slider__play-btn:hover {
    color: #297FD7;
}
/* Slider Body */
.slider__body {
    position: absolute;
    width: 100%;
    height: 80px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 3%, rgba(0, 0, 0, 0.71) 46.16%, rgba(0, 0, 0, 0.85) 71.73%, #000000 97.75%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    padding: 0 40px;
}
.slider__status {
    width: 50px;
    height: 50px;
    background: none;
    border: 3px solid #41C375;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e3e3e3;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 16px;
    box-shadow: 0px 2px 4px rgba(65, 195, 117, 0.25);
}
.slider__name {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    color: #e3e3e3;
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s ease all;
}
.slider__name:hover {
    color: #297FD7;
}
.slider__quality {
    width: 50px;
    height: 30px;
    background-color: #12141E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e3e3e3;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 2px;
}

/* ==================== Media ==================== */
@media(max-width:767px) {
    .slider {
        margin-top: 50px;
        height: 300px;
    }
    .slider__item {
        height: 280px;
    }
    .slider__img {
        width: 380px;
        height: 240px;
        border-radius: 5px;
    }
    .slider__item.slick-center .slider__img {
        width: 400px;
        height: 260px;
    }
    .slider__play-btn {
        font-size: 70px;
    }
   
    /* Slider Body */
    .slider__body {
        padding: 0 20px;
    }
    .slider__status {
        width: 40px;
        height: 40px;
        font-size: 12px;
    }
    .slider__name {
        font-size: 16px;
    }
    .slider__quality {
        width: 30px;
        height: 25px;
        font-size: 10px;
    }
}
@media(max-width: 480px) {
    .slider {
        height: 220px;
    }
    .slider__item {
        height: 220px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .slider__item.slick-center {
        padding-bottom: 25px;
    }
    .slider__img {
        width: 250px;
        height: 160px;
    }
    .slider__item.slick-center .slider__img {
        width: 280px;
        height: 160px;
    }
    .slider__play-btn {
        font-size: 40px;
    }
   
    /* Slider Body */
    .slider__body {
        height: 50px;
        padding: 0 20px;
    }
    .slider__status {
        display: none;
    }
    .slider__name {
        font-size: 14px;
    }
    .slider__quality {
        width: 30px;
        height: 20px;
        font-size: 10px;
    }
}