{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main Css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Header Css -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <!-- Main Menu -->
    <link rel="stylesheet" href="{% static 'css/mainmenu.css' %}">
    <!-- Full Search Css -->
    <link rel="stylesheet" href="{% static 'css/full-search.css' %}">
    <!-- Mobile Footer -->
    <link rel="stylesheet" href="{% static 'css/mobile-footer.css' %}">
    <!-- Slider Css -->
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <!-- Content Css -->
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
    <!-- Pagination Css -->
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <!-- Footer Css -->
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <!-- Category Css -->
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <!-- Product Show Css -->
    <link rel="stylesheet" href="{% static 'css/product-show.css' %}">
    <!-- Profile Css -->
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>Dido Cinema</title>
</head>
<body>
<!-- Header -->
<header class="header">
    <div class="main__container">
        <div class="header__inner">

            <div class="header__main">
                <!-- Header Burger -->
                <div class="header__burger" id="header__burger">
                    <span></span>
                </div>

                <!-- Header Logo -->
                <a href="{% url 'film-list' %}" class="header__logo">
                    Dido Cinema
                </a>

                <!-- Search only for mobile device -->
                <button class="header__mobile-search" id="header__mobile-search">
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <form method="get" action="{% url 'search' %}" class="header__search">
                <input type="text" name="q" placeholder="Пираты Карибского моря 2">
                <button><i class="fas fa-search"></i></button>
            </form>

            <div class="header__navs">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="header__link">
                        Выход
                    </a>
                    <a href="{% url 'user_profile' %}">
                        <img src="{{ user.avatar.url }}" class="header__nav-img">

                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="header__link">
                        Вход
                    </a>
                    <a href="{% url 'register' %}" class="header__link">
                        Регистрация
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
</header>
<div class="full__search" id="full__search">
    <div class="container">

        <div class="search__inner">
            <!-- Close Full Search Window Btn -->
            <button class="search__close-btn" id="search__window-close">
                <i class="far fa-times-circle"></i>
            </button>
        </div>

        <form method="get" action="{% url 'search' %}" class="search__form">
            <input type="text" name="q" placeholder="Поиск..." id="full-search__input">
            <button class="full__search-btn"><i class="fas fa-search"></i></button>
        </form>

        <h1 class="filter__title">Жанры</h1>
        <div class="filter__container">
            <a href="#" class="filter__item active">Боевики</a>
            <a href="#" class="filter__item">Прикльючение</a>
            <a href="#" class="filter__item">Фантастика</a>
            <a href="#" class="filter__item">Детективы</a>
        </div>

        <h1 class="filter__title">Сортировка</h1>
        <div class="filter__container">
            <a href="#" class="filter__item">Новинки</a>
            <a href="#" class="filter__item">Популярные</a>
            <a href="#" class="filter__item">Последние</a>
        </div>

        <h1 class="filter__title">Качество</h1>
        <div class="filter__container">
            <a href="#" class="filter__item">4K</a>
            <a href="#" class="filter__item">FullHD</a>
            <a href="#" class="filter__item">HD</a>
            <a href="#" class="filter__item">HDRip</a>
        </div>

        <h1 class="filter__title">Год выпуска:</h1>
        <div class="filter__container">
            <a href="#" class="filter__item">1995</a>
            <a href="#" class="filter__item">1996</a>
            <a href="#" class="filter__item">1997</a>
            <a href="#" class="filter__item">1998</a>
        </div>

    </div>
</div>

<!-- Main Menu -->
{% block main_content %}{% endblock %}


{% block main_footer %}{% endblock %}
<footer class="mobile-footer">
    <div class="main__container">
        <ul class="mobile-footer__menu">
            <li>
                <a href="{% url 'film-list' %}" class="mobile-footer__link active">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li>
                <a href="#" class="mobile-footer__link">
                    <i class="fas fa-heart"></i>
                </a>
            </li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'user_profile' %}" class="mobile-footer__link">
                        <i class="fas fa-user-circle"></i>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="mobile-footer__link">
                        <i class="fas fa-user-circle"></i>
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</footer>
<div class="footer__copyright">
    <div class="container">
        @2023 Dido Cinema Online Cinema. All Rights Reserved.
    </div>
</div>
<!-- Header JS -->
<script src="{% static 'js/header.js' %}"></script>
<!-- Full Window Search JS -->
<script src="
{% static 'js/fullsearch.js' %}"></script>
<!-- JQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Slick Slider Js -->
<script src="{% static 'js/slick.min.js' %}"></script>
<!-- Slider JS -->
<script src="{% static 'js/slider.js' %}"></script>
<!-- Content JS -->
<script src="{% static 'js/content.js' %}"></script>
</body>
</html>