{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main Css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- Header Css -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <!-- Main Menu -->
    <link rel="stylesheet" href="{% static 'css/mainmenu.css' %}">
    <!-- Full Search Css -->
    <link rel="stylesheet" href="{% static 'css/full-search.css' %}">
    <!-- Mobile Footer -->
    <link rel="stylesheet" href="{% static 'css/mobile-footer.css' %}">
    <!-- Slider Css -->
    <link rel="stylesheet" href="{% static 'css/slider.css' %}">
    <!-- Content Css -->
    <link rel="stylesheet" href="{% static 'css/content.css' %}">
    <!-- Pagination Css -->
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <!-- Footer Css -->
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <!-- Category Css -->
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <!-- Product Show Css -->
    <link rel="stylesheet" href="{% static 'css/product-show.css' %}">
    <!-- Profile Css -->
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Dido Cinema</title>
</head>
<body>
<!-- Header -->
<header class="header">
    <div class="main__container">
        <div class="header__inner">

            <div class="header__main">
                <!-- Header Burger -->
                <div class="header__burger" id="header__burger">
                    <span></span>
                </div>

                <!-- Header Logo -->
                <a href="{% url 'film-list' %}" class="header__logo">
                    Dido Cinema
                </a>

                <!-- Search only for mobile device -->
                <button class="header__mobile-search" id="header__mobile-search">
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <form method="get" action="{% url 'search' %}" class="header__search">
                <input type="text" name="q" placeholder="Пираты Карибского моря 2">
                <button><i class="fas fa-search"></i></button>
            </form>

            <div class="header__navs">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="header__link">
                        Выход
                    </a>
                    <a href="{% url 'user_profile' %}">
                        {% if user.avatart %}
                            <img src="{{ user.avatar.url }}" class="header__nav-img">
                        {% else %}
                            <img src="{% static 'img/default/avatar.jpg' %}" class="header__nav-img">
                        {% endif %}


                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="header__link">
                        Вход
                    </a>
                    <a href="{% url 'register' %}" class="header__link">
                        Регистрация
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
</header>
<div class="full__search" id="full__search">
    <div class="container">

        <div class="search__inner">
            <!-- Close Full Search Window Btn -->
            <button class="search__close-btn" id="search__window-close">
                <i class="far fa-times-circle"></i>
            </button>
        </div>

        <form method="get" action="{% url 'search' %}" class="search__form">
            <input type="text" name="q" placeholder="Поиск..." id="full-search__input">
            <button class="full__search-btn"><i class="fas fa-search"></i></button>
        </form>
        <form method="get">
            <h1 class="filter__title">Жанры</h1>
            <div class="filter__container">
                {% for genre in genres %}
                    <a href="{% url 'genre-list' slug=genre.slug_link %}"
                       class="filter__item active">{{ genre.name|title }}</a>
                {% endfor %}
            </div>

            <h1 class="filter__title">Сортировка</h1>
            <div class="filter__container">
                <a href="{% url 'new_films-list' %}" class="filter__item">Новинки</a>
                <a href="{% url 'popular_films-list' %}" class="filter__item">Популярные</a>
                <a href="{% url 'film-list' %}" class="filter__item">Последние</a>
            </div>

            <h1 class="filter__title">Год выпуска:</h1>
            <div class="filter__container">
                {% for release_year in release_years %}
                    <a href=""
                       class="filter__item">{{ release_year.year }}</a>
                {% endfor %}
            </div>
        </form>
    </div>
</div>

<!-- Main Menu -->

<div class="main__menu" id="main__menu">
    <div class="main__container">
        <ul class="main__menu-list">
            <li>
                <a href="{% url 'film-list' %}" class="main__menu-link">Главная</a>
            </li>
            <li>
                <a href="#" class="main__menu-link">Категорий</a>
                <span class="is__parent" id="is__parent"></span>
                <ul class="main__dropdown" id="main__dropdown">
                    {% for genre in genres %}
                        <li>
                            <a href="{% url 'genre-list' slug=genre.slug_link %}"
                               class="main__dropdown-link">{{ genre.name|title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="{% url 'new_films-list' %}" class="main__menu-link">Новинки</a>
            </li>
            <li>
                <a href="#" class="main__menu-link">Стол Заказов</a>
            </li>
            <li>
                <a href="#" class="main__menu-link">Помощь</a>
            </li>
            <li>
                <a href="{% url 'feedback' %}" class="main__menu-link">Конакты</a>
            </li>
        </ul>
    </div>
</div>

{% block main_content %}{% endblock %}


<footer class="footer">
    <div class="container">
        <div class="footer__inner">

            <div class="footer__item">
                <h1 class="footer__title">Основные разделы</h1>

                <!-- Footer Menu -->
                <ul class="footer__menu">
                    <li>
                        <a href="{% url 'film-list' %}" class="footer__link">Главная</a>
                    </li>
                    <li>
                        <a href="{% url 'new_films-list' %}" class="footer__link">Новинки</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Стол Заказов</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Помощь</a>
                    </li>
                    <li>
                        <a href="{% url 'feedback' %}" class="footer__link">Конакты</a>
                    </li>
                </ul>
            </div>

            <div class="footer__item">
                <h1 class="footer__title">Последние коментарии</h1>
                {% for comment in last_comments %}
                    <div class="footer__product">
                        <a href="{% url 'film-detail' slug=comment.movie.slug_link %}" class="footer__product-img">
                            <img src="https://image.tmdb.org/t/p/original/{{ comment.movie.poster }}">
                        </a>
                        <div class="footer__product-navs">
                            <div class="footer__product-inner">
                                <a href="{% url 'film-detail' slug=comment.movie.slug_link %}"
                                   class="footer__product-name">{{ comment.movie.ru_title }}</a>
                                <p class="footer__product-time">{{ comment.created_at|time:"H:i" }}</p>
                            </div>
                            <p class="footer__product-user">{{ comment.user.username }}</p>
                            <p class="footer__product-text">{{ comment.content|truncatechars:100 }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="footer__item">
                <h1 class="footer__title">Следите за нами</h1>
                <ul class="footer__flex-menu">
                    {% if site_info.vk_link %}
                    <li>
                        <a href="{{ site_info.vk_link }}" class="footer__link">
                            <i class="fab fa-vk"></i>
                        </a>
                    </li>
                    {% elif site_info.youtube_link %}
                    <li>
                        <a href="{{ site_info.youtube_link }}" class="footer__link">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    {% elif site_info.facebook_link %}
                    <li>
                        <a href="{{ site_info.facebook_link }}" class="footer__link">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    {% elif site_info.telegram_link %}
                    <li>
                        <a href="{{ site_info.telegram_link }}" class="footer__link">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>

                <!-- Footer Logo -->
                <a href="{% url 'film-list' %}" class="footer__logo">
                    Dido Cinema
                    <span>online cinema</span>
                </a>
            </div>
        </div>
    </div>
</footer>
<footer class="mobile-footer">
    <div class="main__container">
        <ul class="mobile-footer__menu">
            <li>
                <a href="{% url 'film-list' %}" class="mobile-footer__link">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'favourite_list' %}" class="mobile-footer__link">
                        <i class="fas fa-heart"></i>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="mobile-footer__link">
                        <i class="fas fa-heart"></i>
                    </a>
                {% endif %}
            </li>
            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'user_profile' %}" class="mobile-footer__link">
                        <i class="fas fa-user-circle"></i>
                    </a>
                {% else %}
                    <a href="{% url 'login' %}" class="mobile-footer__link">
                        <i class="fas fa-user-circle"></i>
                    </a>
                {% endif %}
            </li>
        </ul>
    </div>
</footer>
<div class="footer__copyright">
    <div class="container">
        @2023 Dido Cinema Online Cinema. All Rights Reserved.
    </div>
</div>
<!-- Header JS -->
<script src="{% static 'js/header.js' %}"></script>
<!-- Full Window Search JS -->
<script src="
{% static 'js/fullsearch.js' %}"></script>
<!-- JQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Slick Slider Js -->
<script src="{% static 'js/slick.min.js' %}"></script>
<!-- Slider JS -->
<script src="{% static 'js/slider.js' %}"></script>
<!-- Content JS -->
<script src="{% static 'js/content.js' %}"></script>
<script type="text/javascript" src="https://cdn.tailwindcss.com/3.0.12"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>

</body>
</html>