{% extends 'films/main_content/base.html' %}
{% load static %}
{% block page_name %}
    <div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>HOME</h1>
                    <ul class="breadcumb">
                        <h4>Movie Listing</h4>
{#                        <li class="active"><a href="#">Home</a></li>#}
{#                        <li><span class="ion-ios-arrow-right"></span> movie listing</li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block main_block %}
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="topbar-filter fw">
                        <p>Found <span>{{ total_count_movie }} movies</span> in total</p>
                    </div>
                    <div class="flex-wrap-movielist mv-grid-fw">
                        {% for movie in page_obj %}
                            <div class="movie-item-style-2 movie-item-style-1">
                                <img src="{% static 'images/uploads/mv1.jpg' %}" alt="">
                                <div class="hvr-inner">
                                    <a href="{% url 'film-detail' slug=movie.slug_link %}"> Read more <i
                                            class="ion-android-arrow-dropright"></i> </a>
                                </div>
                                <div class="mv-item-infor">
                                    <h6>
                                        <a href="{% url 'film-detail' slug=movie.slug_link %}">{{ movie.ru_title }}</a>
                                    </h6>
                                    <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="topbar-filter">
                        <label>Movies per page:</label>


                        <option value="saab">10 Movies</option>


                        <div class="pagination2">
                            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}:</span>
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}"><i class="ion-arrow-left-b"></i></a>
                            {% endif %}
                            {% if  page_obj.number %}
                                <a class="active">{{ page_obj.number }}</a>
                            {% endif %}
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}"><i class="ion-arrow-right-b"></i></a>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}