{% extends 'films/main_content/base.html' %}
{% load static %}
{% block main_block %}
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="topbar-filter fw">
                        <p>Found <span>{{ total_count_movie }} movies</span> in total</p>
                        <label>Sort by:</label>
                        <select>
                            <option value="popularity">Popularity Descending</option>
                            <option value="popularity">Popularity Ascending</option>
                            <option value="rating">Rating Descending</option>
                            <option value="rating">Rating Ascending</option>
                            <option value="date">Release date Descending</option>
                            <option value="date">Release date Ascending</option>
                        </select>
                        <a href="movielist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                        <a href="moviegridfw.html" class="grid"><i class="ion-grid active"></i></a>
                    </div>
                    <div class="flex-wrap-movielist mv-grid-fw">
                        {% for movie in movies %}
                            <div class="movie-item-style-2 movie-item-style-1">
                                <img src="{% static 'images/uploads/mv1.jpg' %}" alt="">
                                <div class="hvr-inner">
                                    <a href="details/{{ movie.slug_link }}"> Read more <i
                                            class="ion-android-arrow-dropright"></i> </a>
                                </div>
                                <div class="mv-item-infor">
                                    <h6><a href="details/{{ movie.slug_link }}">{{ movie.orig_title }}</a></h6>
                                    <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="topbar-filter">
                        <label>Movies per page:</label>
                        <select>
                            <option value="range">20 Movies</option>
                            <option value="saab">10 Movies</option>
                        </select>

                        <div class="pagination2">
                            <span>Page 1 of {{ page_obj.num_pages }}:</span>
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}"></a>
                            {% endif %}
                            {% if  page_obj.number %}
                                <a class="active">{{ page_obj.number }}</a>
                            {% endif %}
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}"></a>
                            {% endif %}

                            <a href="#"><i class="ion-arrow-right-b"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}