{% extends 'films/main_content/base.html' %}
{% load static %}

{% block main_content %}

    <!-- Slider -->
    <div class="slider">
        {% for movie in slider_movies %}
            <div class="slider__item">
                <img src="https://image.tmdb.org/t/p/original/{{ movie.background_poster }}" class="slider__img">

                </a>
                <div class="slider__navs">
                    <a href="{% url 'film-detail' slug=movie.slug_link %}" class="slider__play-btn">
                        <i class="far fa-play-circle"></i>
                    </a>
                    <div class="slider__body">
                        <p class="slider__status">{{ movie.vote }}</p>
                        <a href="{% url 'film-detail' slug=movie.slug_link %}"
                           class="slider__name">{{ movie.ru_title }}</a>
                        <p class="slider__quality">FullHD</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <!-- Content -->
    <div class="main__container">
        <div class="content">
            <!-- Content Navs -->
            <div class="content__navs">
                <div class="title">
                    <h1>Выбор жанра</h1>
                    <i class="fas fa-list-ul"></i>
                </div>

                <!-- Content Menu -->
                <ul class="content__menu">
                    {% for genre in genres %}
                        <li>
                            <a href="{% url 'genre-list' slug=genre.slug_link %}"
                               class="content__link">{{ genre.name|title }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="title">
                    <h1>Скоро на сайте</h1>
                    <i class="fas fa-clock"></i>
                </div>

            </div>

            <!-- Content Body -->
            <div class="content__body">
                <div class="content__inner">
                    <form method="get">

                        <div class="content__item">
                            <div class="subtitle">
                                <p class="subtitle-desc">Год выпуска:</p>
                                <button class="subtitle-btn">
                                    <div class="subtitle-name">{% now "Y" %}</div>
                                    <div class="subtitle-icon no-rotate"><i class="far fa-calendar-alt"></i></div>

                                    <div class="subtitle__dropdown">
                                        <ul class="subtitle__dropdown-box">
                                            {% for release_year in release_years %}
                                                <li>
                                                    <a href="{% url 'release_year-list' year=release_year.year %}"
                                                       class="sutitle__dropdown-link">{{ release_year.year }}</a>

                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </button>
                            </div>

                            {#                            <div class="subtitle">#}
                            {#                                <p class="subtitle-desc">Качество видео:</p>#}
                            {#                                <button class="subtitle-btn">#}
                            {#                                    <div class="subtitle-name">FULLHD</div>#}
                            {#                                    <div class="subtitle-icon"><i class="fas fa-angle-down"></i></div>#}
                            {##}
                            {#                                    <div class="subtitle__dropdown">#}
                            {#                                        <ul class="subtitle__dropdown-box">#}
                            {#                                            <li>#}
                            {#                                                <a href="#" class="sutitle__dropdown-link">FULLHD</a>#}
                            {#                                            </li>#}
                            {#                                            <li>#}
                            {#                                                <a href="#" class="sutitle__dropdown-link">HDRip</a>#}
                            {#                                            </li>#}
                            {#                                            <li>#}
                            {#                                                <a href="#" class="sutitle__dropdown-link">SD</a>#}
                            {#                                            </li>#}
                            {#                                            <li>#}
                            {#                                                <a href="#" class="sutitle__dropdown-link">4K</a>#}
                            {#                                            </li>#}
                            {#                                            <li>#}
                            {#                                                <a href="#" class="sutitle__dropdown-link">FullHD 1080p</a>#}
                            {#                                            </li>#}
                            {#                                            <li>#}
                            {#                                                <a href="#" class="sutitle__dropdown-link">1080p</a>#}
                            {#                                            </li>#}
                            {#                                            <li>#}
                            {#                                                <a href="#" class="sutitle__dropdown-link">720p</a>#}
                            {#                                            </li>#}
                            {#                                            <li>#}
                            {#                                                <a href="#" class="sutitle__dropdown-link">480p</a>#}
                            {#                                            </li>#}
                            {#                                            <li>#}
                            {#                                                <a href="#" class="sutitle__dropdown-link">360p</a>#}
                            {#                                            </li>#}
                            {#                                            <li>#}
                            {#                                                <a href="#" class="sutitle__dropdown-link">240p</a>#}
                            {#                                            </li>#}
                            {#                                        </ul>#}
                            {#                                    </div>#}
                            {#                                </button>#}
                            {#                            </div>#}

                            <div class="subtitle">
                                <p class="subtitle-desc">Сортировка:</p>
                                <button class="subtitle-btn">
                                    <div class="subtitle-name">Последние</div>
                                    <div class="subtitle-icon"><i class="fas fa-angle-down"></i></div>

                                    <div class="subtitle__dropdown">
                                        <ul class="subtitle__dropdown-box">
                                            <li>
                                                <a href="{% url 'new_films-list' %}" class="sutitle__dropdown-link">Новинки</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'popular_films-list' %}" class="sutitle__dropdown-link">Популярные(IMDB)</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'sort_a_z_films-list' %}"
                                                   class="sutitle__dropdown-link">От А
                                                    до Я</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'sort_z_a_films-list' %}"
                                                   class="sutitle__dropdown-link">От Я до А</a>
                                            </li>
                                            <li>
                                                <a href="{% url 'film-list' %}"
                                                   class="sutitle__dropdown-link">Последние</a>
                                            </li>
                                        </ul>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form>

                    <div class="content__item">
                        <div class="title">
                            <h1>Мы соц.сетях</h1>
                            <a href="#" class="footer__link">
                                <i class="fab fa-vk"></i>
                            </a>
                            <a href="#" class="footer__link">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="#" class="footer__link">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#" class="footer__link">
                                <i class="fab fa-telegram-plane"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="content__products">
                    {% for movie in page_obj %}
                        <div class="content__product">
                            <a href="{% url 'film-detail' slug=movie.slug_link %}" class="content__product-img">


                                {% if movie.poster %}
                                    <img src="https://image.tmdb.org/t/p/original/{{ movie.poster }}"
                                         class="product__img">

                                {% else %}
                                    <img src="{% static 'img/products/No_image_poster.png' %}" class="product__img">
                                {% endif %}

                                <i class="fas fa-play"></i>
                            </a>

                            <a href="{% url 'film-detail' slug=movie.slug_link %}"
                               class="content__product-name">{{ movie.ru_title }}</a>

                            <ul class="content__product-menu">
                                <li>
                                    <a href="#" class="content__product-category">{{ movie.genre.all.1.name }}</a>
                                </li>
                            </ul>

                            <!-- Stars -->
                            <ul class="content__product-stars">
                                <li class="active">
                                    {{ movie.vote }}/10
                                </li>
                            </ul>

                            <div class="content__product-navs">
                                <button class="btn-primary">FullHD</button>
                                <button class="btn-primary">Дуб.</button>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="main__container">
        {#    {% if page_obj.has_other_pages %}#}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="pagination__link pagination__arrow">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>
            {% endif %}


            {% for page in page_obj.adjusted_elided_pages %}
                {% if page_obj.is_ellipsis %}
                    <li>
                        <a href="?page={{ page }}" class="pagination__link">
                            {{ page }}
                        </a>
                    </li>
                {% elif page_obj.number == page %}
                    <li>
                        <a href="" class="pagination__link pagination__link-active">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% if page == page_obj.paginator.ELLIPSIS %}#{% else %}?page={{ page }}{% endif %}"
                           class="pagination__link">
                            {{ page }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="pagination__link pagination__arrow">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>


{% endblock %}

