{% extends 'films/main_content/base.html' %}
{% load static %}

{% block main_content %}
    <div class="product-show">
    <div class="">
        <div class="product__hide-navs">
            <div class="bg__shadow"></div>
            <img src="https://image.tmdb.org/t/p/original/{{ movie.background_poster }}">
        </div>

        <div class="product__inner container">
            <div class="product__navs">
                {% if movie.poster %}
                    <img src="https://image.tmdb.org/t/p/original/{{ movie.poster }}" class="product__img">

                {% else %}
                    <img src="{% static 'img/products/No_image_poster.png' %}" class="product__img">
                {% endif %}

                <div class="product__nav-images">
                    {% if is_favourite %}
                        <a href="{% url 'favourite_post' movie_id=movie.id %}" class="btn-product__show">
                            <button class="btn-product__show">Добавлен в избранные</button>
                        </a>
                    {% else %}
                        <a href="{% url 'favourite_post' movie_id=movie.id %}" class="btn-product__show">
                            <button class="btn-product__show">Добавить в избранные</button>
                        </a>
                    {% endif %}
                </div>

                <div class="product__ad">

                </div>
            </div>

            <div class="product__body">
                <div class="product__body-container">

                    <div class="product__container-head">
                        {% if movie.poster %}
                            <img src="https://image.tmdb.org/t/p/original/{{ movie.poster }}"
                                 class="product__img-mobile">

                        {% else %}
                            <img src="{% static 'img/products/No_image_poster.png' %}" class="product__img-mobile">
                        {% endif %}
                    </div>

                    <div class="product__container-body">
                        <div class="product__body-inner">
                            <h1 class="product-title">{{ movie.ru_title }}</h1>
                            <div class="product__body-navs">
                                <div class="product__quality">FullHD</div>
                            </div>
                        </div>

                        <div class="product__body-content">
                            <ul class="product__menu">
                            {% if movie.release_year.year %}
                                <li>
                                    Год выпуска: <a
                                        href="{% url 'release_year-list' year=movie.release_year.year %}">{{ movie.release_year.year }}</a>
                                </li>
                            {% endif %}
                                <li>
                                    Жанры:
                                    {% for genre in movie.genre.all|slice:":2" %}
                                        <a href="{% url 'genre-list' slug=genre.slug_link %}">{{ genre }}, </a>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>

                        <div class="product__body-inner">
                            <ul class="product__actors">
                                <ul class="product__menu">

                                    <li>
                                        Перевод: <a href="#">{{ movie.translate }}</a>
                                    </li>
                                    <li>
                                        Длительность: {{ movie.runtime }} мин
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="product__body-container only__mobile">
                    <div class="product__container-head">
                        <button class="btn"><i class="fas fa-play"></i>Смотреть</button>
                    </div>
                    <div class="product__container-body float-right">
                        {% if is_favourite %}
                            <a href="{% url 'favourite_post' movie_id=movie.id %}">
                                <button class="btn__squard active-red"><i class="fas fa-heart"></i></button>
                            </a>
                        {% else %}
                            <a href="{% url 'favourite_post' movie_id=movie.id %}">
                                <button class="btn__squard "><i class="fas fa-heart"></i></button>
                            </a>
                        {% endif %}

                    </div>
                </div>

                <div class="product__body-content">
                    <div class="product__description">
                        <p class="product-show__txt">
                            {{ movie.description }}
                        </p>
                    </div>
                </div>

                <div class="product__body-content">
                    <div class="product__body-inner">
                        <div class="product__item">
                            <p class="product-show__txt">Доступно на устройствах</p>
                            <div class="product__diveses">
                                <div class="product__diveses-item">
                                    <i class="fab fa-apple"></i>
                                    <p>IOS</p>
                                </div>
                                <div class="product__diveses-item">
                                    <i class="fab fa-android"></i>
                                    <p>Android</p>
                                </div>
                                <div class="product__diveses-item">
                                    <i class="fas fa-tv"></i>
                                    <p>Smart TV</p>
                                </div>
                            </div>
                        </div>
                        <div class="product__item">
                            <p class="product-show__txt">Поделиться с друзьями</p>
                            <div class="product__contacts">
                                <div class="contact__item bg-purple">
                                    <i class="fab fa-facebook-f"></i>
                                </div>
                                <div class="contact__item bg-brightblue">
                                    <i class="fab fa-twitter"></i>
                                </div>
                                <div class="contact__item bg-blue">
                                    <i class="fab fa-vk"></i>
                                </div>
                                <div class="contact__item bg-orange">
                                    <i class="fab fa-odnoklassniki"></i>
                                </div>
                                <div class="contact__item bg-red">
                                    <i class="fab fa-google-plus-g"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Player -->
                {#                    <div class="product__player">#}
                {#                        <iframe id="cdn-player" class="product__player"#}
                {#                                src="https://voidboost.net/embed/744987?partner=gidonline&amp;t=21&amp;vstop=5&amp;df=1&amp;vsright=107&amp;block=jp,mx,us,au,br,in,cn,ch,be,kp,sg,ca,kr,hk"#}
                {#                                allowfullscreen=""></iframe>#}
                <iframe id="cdn-player" class="product__player"
                        src="{{ movie.iframe_src }}"
                        allowfullscreen=""></iframe>
            </div>
        </div>
    </div>

    <!-- Reccomend Products -->
    <div class="reccomend__products container">
        <div class="title m-none">
            <h1>Рекомендуем посмотреть</h1>
            <i class="fas fa-heart"></i>
        </div>

        <div class="reccomend__products-grid">
            {% for suggest in suggest %}
                <div class="content__product">
                    <a href="{% url 'film-detail' slug=suggest.slug_link %}"
                       class="content__product-img reccomend__product-img">
                        <img src="https://image.tmdb.org/t/p/original/{{ suggest.poster }}">
                        <i class="fas fa-play"></i>
                    </a>

                    <a href="{% url 'film-detail' slug=suggest.slug_link %}"
                       class="content__product-name">{{ suggest.ru_title }}</a>

                    <ul class="content__product-menu">
                        <li>
                            <a href="#" class="content__product-category">Прикльючение</a>
                        </li>
                        <li>
                            <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                        </li>
                    </ul>

                    <!-- Stars -->
                    <ul class="content__product-stars">
                        <li class="active">
                            {{ suggest.vote }}/10
                        </li>

                    </ul>

                    <div class="content__product-navs">
                        <button class="btn-primary">FulHD</button>
                        <button class="btn-primary">Дуб.</button>
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>

    <div class="container">
        <div class="product__body-inner">
            <div class="title m-none">
                <h1>Комментарии к фильму</h1>
                <i class="fas fa-comment-alt"></i>
            </div>
            {% if is_favourite %}
                <a href="{% url 'favourite_post' movie_id=movie.id %}" class="btn-product__show btn-product">
                    <button class="btn-product__show btn-product">Добавлен в избранные</button>
                </a>
            {% else %}
                <a href="{% url 'favourite_post' movie_id=movie.id %}" class="btn-product__show btn-product">
                    <button class="btn-product__show btn-product">Добавить в избранные</button>
                </a>
            {% endif %}
        </div>

        <!-- Comments -->
        <div class="product__commnets">
            <form action="{% url 'post-comment' movie_id=movie.pk%}" method="post">
                {% csrf_token %}
                <div class="h-40 px-1 w-[360px] rounded-[12px] bg-blue-1 p-1">
                    <p class="text-xl font-semibold text-blue-900 cursor-pointer transition-all hover:text-black">
                        Оставить комментарий:</p>
                    <textarea
                            class="h-30 px-1 w-[360px] rounded-[12px] bg-blue-1 p-1 mt-5 outline-none border-black-300 w-full resize-none border rounded-lg placeholder:text-sm"
                            name="content"></textarea>

                    <div class="flex justify-between mt-2">
                        {% if user.is_authenticated %}
                            <button class="h-12 w-[150px] bg-blue-400 text-sm text-white rounded-lg transition-all cursor-pointer hover:bg-blue-600">
                                Отправить
                            </button>
                        {% else %}
                            <h class="h-12 w-[150px] bg-blue-400 text-sm text-white rounded-lg transition-all cursor-pointer hover:bg-blue-600">
                                Регистрируйся!
                            </h>
                        {% endif %}
                        <p class="text-sm text-blue-900 ">Лимит до 300 букв!</p>
                    </div>
                </div>
            </form>
            {% if comments %}
                {% for comment in comments %}
                    <div class="product__comment-item">
                        <div class="comment__navs">
                            {% if comment.user.avatar %}
                                <img src="{{ comment.user.avatar.url }}" class="comment__img">
                            {% else %}
                                <img src="{% static 'img/default/avatar.jpg' %}" class="comment__img">
                            {% endif %}

                        </div>
                        <div class="comment__body">
                            <div class="product__flex">
                                <h1 class="comment__username">{{ comment.user.username }}</h1>
                                <p class="product__time">{{ comment.created_at|date:"d F Y / H:i" }}</p>
                            </div>
                            <p class="comment__txt">
                                {{ comment.content }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>

{% endblock %}

