{% extends 'films/main_content/base.html' %}
{% load static %}

{% block main_content %}

    <!-- Content -->
    <div class="main__container">
        <div class="content">
            <!-- Content Navs -->

            <!-- Content Body -->
            <div class="content__body">
                <div class="content__inner">


                    <div class="content__item">
                        <div class="title">
                            <h1>Мы соц.сетях</h1>
                            <a href="#" class="footer__link">
                                <i class="fab fa-vk"></i>
                            </a>
                            <a href="#" class="footer__link">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="#" class="footer__link">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#" class="footer__link">
                                <i class="fab fa-telegram-plane"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="content__products">
                    {% for movie in page_obj %}
                        <div class="content__product">
                            <a href="{% url 'film-detail' slug=movie.slug_link %}" class="content__product-img">


                                {% if movie.poster %}
                                    <img src="https://image.tmdb.org/t/p/original/{{ movie.poster }}"
                                         class="product__img">

                                {% else %}
                                    <img src="{% static 'img/products/No_image_poster.png' %}" class="product__img">
                                {% endif %}

                                <i class="fas fa-play"></i>
                            </a>

                            <a href="{% url 'film-detail' slug=movie.slug_link %}"
                               class="content__product-name">{{ movie.ru_title }}</a>

                            <ul class="content__product-menu">
                                <li>
                                    <a href="#" class="content__product-category">{{ movie.genre.all.1.name }}</a>
                                </li>
                            </ul>

                            <!-- Stars -->
                            <ul class="content__product-stars">
                                <li class="active">
                                    {{ movie.vote }}/10
                                </li>
                            </ul>

                            <div class="content__product-navs">
                                <button class="btn-primary">FullHD</button>
                                <button class="btn-primary">Дуб.</button>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="main__container">
        {#    {% if page_obj.has_other_pages %}#}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="pagination__link pagination__arrow">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </li>
            {% endif %}


            {% for page in page_obj.adjusted_elided_pages %}
                {% if page_obj.is_ellipsis %}
                    <li>
                        <a href="?page={{ page }}" class="pagination__link">
                            {{ page }}
                        </a>
                    </li>
                {% elif page_obj.number == page %}
                    <li>
                        <a href="" class="pagination__link pagination__link-active">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% if page == page_obj.paginator.ELLIPSIS %}#{% else %}?page={{ page }}{% endif %}"
                           class="pagination__link">
                            {{ page }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="pagination__link pagination__arrow">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </li>
            {% endif %}

        </ul>
    </div>

    <!-- Mobile Footer -->
    <footer class="mobile-footer">
        <div class="main__container">
            <ul class="mobile-footer__menu">
                <li>
                    <a href="#" class="mobile-footer__link active">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="mobile-footer__link">
                        <i class="fas fa-heart"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="mobile-footer__link">
                        <i class="fas fa-user-circle"></i>
                        <span class="new__messages"></span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>

{% endblock %}