<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main Css -->
    <link rel="stylesheet" href="../../static/css/main.css">
    <!-- Header Css -->
    <link rel="stylesheet" href="../../static/css/header.css">
    <!-- Main Menu -->
    <link rel="stylesheet" href="../../static/css/mainmenu.css">
    <!-- Full Search Css -->
    <link rel="stylesheet" href="../../static/css/full-search.css">
    <!-- Mobile Footer -->
    <link rel="stylesheet" href="../../static/css/mobile-footer.css">
    <!-- Slider Css -->
    <link rel="stylesheet" href="../../static/css/slider.css">
    <!-- Content Css -->
    <link rel="stylesheet" href="../../static/css/content.css">
    <!-- Pagination Css -->
    <link rel="stylesheet" href="../../static/css/pagination.css">
    <!-- Footer Css -->
    <link rel="stylesheet" href="../../static/css/footer.css">
    <!-- Category Css -->
    <link rel="stylesheet" href="../../static/css/category.css">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>Kinogo</title>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="main__container">
            <div class="header__inner">
                
                <div class="header__main">
                    <!-- Header Burger -->
                    <div class="header__burger" id="header__burger">
                        <span></span>
                    </div>

                    <!-- Header Logo -->
                    <a href="#" class="header__logo">
                        Kinogo
                    </a>

                    <!-- Search only for mobile device -->
                    <button class="header__mobile-search" id="header__mobile-search">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

                <form action="#" class="header__search">
                    <input type="text" placeholder="Пираты Карибского моря 2">
                    <button><i class="fas fa-search"></i></button>
                </form>

                <div class="header__navs">
                    <a href="#" class="header__link">
                        <i class="fas fa-download"></i>
                    </a>
                    <a href="#" class="header__link">
                        <i class="fas fa-bell"></i>
                        <span class="new__messages"></span>
                    </a>
                    <img src="../../static/img/default/avatar.jpg" class="header__nav-img">
                </div>

            </div>
        </div>
    </header>

    <div class="category__container">
        <div class="main__container">
            <h1 class="category-title">
                404 Ошибка
            </h1>
            <h2 class="category-txt mt-5">
                Ой! Что то пошло не так
            </h2>
        </div>
    </div>

    <!-- Header JS -->
    <script src="../../static/js/header.js"></script>
    <!-- Full Window Search JS -->
    <script src="../../static/js/fullsearch.js"></script>
    <!-- JQuery -->
    <script src="../../static/js/jquery.min.js"></script>
    <!-- Slick Slider Js -->
    <script src="../../static/js/slick.min.js"></script>
    <!-- Slider JS -->
    <script src="../../static/js/slider.js"></script>
    <!-- Content JS -->
    <script src="../../static/js/content.js"></script>
</body>
</html>