<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main Css -->
    <link rel="stylesheet" href="../../static/css/main.css">
    <!-- Header Css -->
    <link rel="stylesheet" href="../../static/css/header.css">
    <!-- Main Menu -->
    <link rel="stylesheet" href="../../static/css/mainmenu.css">
    <!-- Full Search Css -->
    <link rel="stylesheet" href="../../static/css/full-search.css">
    <!-- Mobile Footer -->
    <link rel="stylesheet" href="../../static/css/mobile-footer.css">
    <!-- Slider Css -->
    <link rel="stylesheet" href="../../static/css/slider.css">
    <!-- Content Css -->
    <link rel="stylesheet" href="../../static/css/content.css">
    <!-- Pagination Css -->
    <link rel="stylesheet" href="../../static/css/pagination.css">
    <!-- Footer Css -->
    <link rel="stylesheet" href="../../static/css/footer.css">
    <!-- Category Css -->
    <link rel="stylesheet" href="../../static/css/category.css">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>Боевики - Kinogo</title>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="main__container">
            <div class="header__inner">
                
                <div class="header__main">
                    <!-- Header Burger -->
                    <div class="header__burger" id="header__burger">
                        <span></span>
                    </div>

                    <!-- Header Logo -->
                    <a href="#" class="header__logo">
                        Kinogo
                    </a>

                    <!-- Search only for mobile device -->
                    <button class="header__mobile-search" id="header__mobile-search">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

                <form action="#" class="header__search">
                    <input type="text" placeholder="Пираты Карибского моря 2">
                    <button><i class="fas fa-search"></i></button>
                </form>

                <div class="header__navs">
                    <a href="#" class="header__link">
                        <i class="fas fa-download"></i>
                    </a>
                    <a href="#" class="header__link">
                        <i class="fas fa-bell"></i>
                        <span class="new__messages"></span>
                    </a>
                    <img src="../../static/img/default/avatar.jpg" class="header__nav-img">
                </div>

            </div>
        </div>
    </header>

    <div class="category__container">
        <div class="main__container">
            <h1 class="category-title">
                Боевики
            </h1>
            <h2 class="category-txt mt-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, incidunt.
            </h2>
        </div>
    </div>

    <div class="main__container">
        <div class="category__content mt-15">
            <div class="content__product">
                <a href="../films/main_content/movie-detail.html" class="content__product-img">
                    <img src="../../static/img/products/12.jpg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Красавица и Чудовище</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Фантастика</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Проф.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/6.jpg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Человек-Паук: Вдали ...</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Прикльючение</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">4K</button>
                    <button class="btn-primary">Дуб.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/8.jpg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Райя и последний Др...</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Мультфильмы</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Дуб.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/10.jpeg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Джек покоритель Ве...</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Фантастика</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Проф.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/13.jpg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Тор: Рагнарёк</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Фантастика</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Проф.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/9.jpg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Холодное сердце 2</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Мультфильмы</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Проф.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/14.jpg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Варкрафт</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Фантастика</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Проф.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/15.jpg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Моана</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Фантастика</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Проф.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/19.jpg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Принц Персии</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Фантастика</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Проф.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/21.jpg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Вперёд</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Мультфильмы</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Проф.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/23.jpg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Мулан</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Мультфильмы</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Проф.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/22.jpg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Туннель Опасно для ...</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Мультфильмы</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Проф.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/1.jpg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Бладшот</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Мультфильмы</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Проф.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/2.jpeg">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Последний богатырь ...</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Мультфильмы</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Проф.</button>
                </div>
            </div>

            <div class="content__product">
                <a href="#" class="content__product-img">
                    <img src="../../static/img/products/16.png">
                    <i class="fas fa-play"></i>
                </a>

                <a href="#" class="content__product-name">Черепашки-ниндзя</a>
                    
                <ul class="content__product-menu">
                    <li>
                        <a href="#" class="content__product-category">Мультфильмы</a>
                    </li>
                    <li>
                        <a href="#" class="content__product-category"><i class="fas fa-ellipsis-h"></i></a>
                    </li>
                </ul>

                <!-- Stars -->
                <ul class="content__product-stars">
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li class="active">
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star"></i>
                    </li>
                </ul>

                <div class="content__product-navs">    
                    <button class="btn-primary">HD</button>
                    <button class="btn-primary">Проф.</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Header JS -->
    <script src="../../static/js/header.js"></script>
    <!-- Full Window Search JS -->
    <script src="../../static/js/fullsearch.js"></script>
    <!-- JQuery -->
    <script src="../../static/js/jquery.min.js"></script>
    <!-- Slick Slider Js -->
    <script src="../../static/js/slick.min.js"></script>
    <!-- Slider JS -->
    <script src="../../static/js/slider.js"></script>
    <!-- Content JS -->
    <script src="../../static/js/content.js"></script>
</body>
</html>