<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Register And Login Css -->
    <link rel="stylesheet" href="../../static/css/login.css">

    <title>Регистрация</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <h1 class="title center">Login in</h1>
            <form action="" class="form__control">
                <input type="email" class="input-dark" placeholder="E-mail">
                <input type="password" class="input-dark" placeholder="Пароль">
                <button class="btn-primary mt-15" type="submit">Войти</button>
                <a href="#" class="link-dark mt-5 center">Зарегистрироваться</a>
            </form>
        </div>
    </div>
</body>
</html>