<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Main Css -->
    <link rel="stylesheet" href="../../static/css/main.css">
    <!-- Header Css -->
    <link rel="stylesheet" href="../../static/css/header.css">
    <!-- Main Menu -->
    <link rel="stylesheet" href="../../static/css/mainmenu.css">
    <!-- Full Search Css -->
    <link rel="stylesheet" href="../../static/css/full-search.css">
    <!-- Mobile Footer -->
    <link rel="stylesheet" href="../../static/css/mobile-footer.css">
    <!-- Slider Css -->
    <link rel="stylesheet" href="../../static/css/slider.css">
    <!-- Content Css -->
    <link rel="stylesheet" href="../../static/css/content.css">
    <!-- Pagination Css -->
    <link rel="stylesheet" href="../../static/css/pagination.css">
    <!-- Footer Css -->
    <link rel="stylesheet" href="../../static/css/footer.css">
    <!-- Category Css -->
    <link rel="stylesheet" href="../../static/css/category.css">
    <!-- Profile Css -->
    <link rel="stylesheet" href="../../static/css/profile.css">

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>Profile</title>
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="main__container">
            <div class="header__inner">
                
                <div class="header__main">
                    <!-- Header Burger -->
                    <div class="header__burger" id="header__burger">
                        <span></span>
                    </div>

                    <!-- Header Logo -->
                    <a href="#" class="header__logo">
                        Kinogo
                    </a>

                    <!-- Search only for mobile device -->
                    <button class="header__mobile-search" id="header__mobile-search">
                        <i class="fas fa-search"></i>
                    </button>
                </div>

                <form action="#" class="header__search">
                    <input type="text" placeholder="Пираты Карибского моря 2">
                    <button><i class="fas fa-search"></i></button>
                </form>

                <div class="header__navs">
                    <a href="#" class="header__link">
                        <i class="fas fa-download"></i>
                    </a>
                    <a href="#" class="header__link">
                        <i class="fas fa-bell"></i>
                        <span class="new__messages"></span>
                    </a>
                    <img src="../../static/img/default/avatar.jpg" class="header__nav-img">
                </div>

            </div>
        </div>
    </header>

    <div class="category__container">
        <div class="main__container">
            
            <div class="profile__inner">
                <div class="profile-item">
                    <img src="../../static/img/default/avatar.jpg" class="profile__user-img">
                    <button class="profile__btn mt-15">Изминить картинку</button>
                </div>
                <div class="profile-item ml-15">
                    <h1 class="profile__user-title">
                        Тунгатаров Сагынбек
                    </h1>        
                    <ul class="profile__user-menu">
                        <li>
                            Дата регистрация: 19 августа 2021
                        </li>
                        <li>
                            E-mail: test@mail.ru
                        </li>
                    </ul>
                </div>
            </div>

            <h2 class="category-txt mt-5">
                Просмотрели 8 фильмов. Спасибо что выбрали Kinogo
            </h2>

            <button class="profile__btn mt-15">Сохранить</button>
        </div>
    </div>

    <div class="main__container">
        <h2 class="category-txt">
            Истроия:
        </h2>
        <div class="profile__container mt-15">

            <div class="profile__item">
                <a href="#" class="profile-product__img">
                    <img src="../../static/img//products/15.jpg">
                </a>
                <div class="profile-product__navs">
                    <a href="#" class="profile-product__name">Моана</a>
                    <p class="profile-product__time">5 октября 2021 / 20:47</p>
                    <ul class="profile-product__list">
                        <li>
                            Год выпуска: <a href="#" class="profile-product__link">2017</a>
                        </li>
                        <li>
                            Страна: <a href="#" class="profile-product__link">США</a>
                        </li>
                        <li>
                            Жанры: <a href="#" class="profile-product__link">Мультфильмы</a> <a href="#" class="profile-product__link">Семейные</a>
                        </li>
                        <li>
                            Серия: нет серий
                        </li>
                    </ul>
                </div>
            </div>

            <div class="profile__item">
                <a href="#" class="profile-product__img">
                    <img src="../../static/img//products/12.jpg">
                </a>
                <div class="profile-product__navs">
                    <a href="#" class="profile-product__name">Красавица и Чудовище</a>
                    <p class="profile-product__time">5 октября 2021 / 20:47</p>
                    <ul class="profile-product__list">
                        <li>
                            Год выпуска: <a href="#" class="profile-product__link">2017</a>
                        </li>
                        <li>
                            Страна: <a href="#" class="profile-product__link">США</a>
                        </li>
                        <li>
                            Жанры: <a href="#" class="profile-product__link">Мультфильмы</a> <a href="#" class="profile-product__link">Семейные</a>
                        </li>
                        <li>
                            Серия: 202 серий
                        </li>
                    </ul>
                </div>
            </div>

            <div class="profile__item">
                <a href="#" class="profile-product__img">
                    <img src="../../static/img//products/1.jpg">
                </a>
                <div class="profile-product__navs">
                    <a href="#" class="profile-product__name">Бладшот</a>
                    <p class="profile-product__time">5 октября 2021 / 20:47</p>
                    <ul class="profile-product__list">
                        <li>
                            Год выпуска: <a href="#" class="profile-product__link">2017</a>
                        </li>
                        <li>
                            Страна: <a href="#" class="profile-product__link">США</a>
                        </li>
                        <li>
                            Жанры: <a href="#" class="profile-product__link">Мультфильмы</a> <a href="#" class="profile-product__link">Семейные</a>
                        </li>
                        <li>
                            Серия: 202 серий
                        </li>
                    </ul>
                </div>
            </div>

            <div class="profile__item">
                <a href="#" class="profile-product__img">
                    <img src="../../static/img//products/6.jpg">
                </a>
                <div class="profile-product__navs">
                    <a href="#" class="profile-product__name">Человек-Паук: Вдали от дома</a>
                    <p class="profile-product__time">5 октября 2021 / 20:47</p>
                    <ul class="profile-product__list">
                        <li>
                            Год выпуска: <a href="#" class="profile-product__link">2017</a>
                        </li>
                        <li>
                            Страна: <a href="#" class="profile-product__link">США</a>
                        </li>
                        <li>
                            Жанры: <a href="#" class="profile-product__link">Мультфильмы</a> <a href="#" class="profile-product__link">Семейные</a>
                        </li>
                        <li>
                            Серия: 202 серий
                        </li>
                    </ul>
                </div>
            </div>

            <div class="profile__item">
                <a href="#" class="profile-product__img">
                    <img src="../../static/img//products/7.jpg">
                </a>
                <div class="profile-product__navs">
                    <a href="#" class="profile-product__name">Мстители Финал</a>
                    <p class="profile-product__time">5 октября 2021 / 20:47</p>
                    <ul class="profile-product__list">
                        <li>
                            Год выпуска: <a href="#" class="profile-product__link">2017</a>
                        </li>
                        <li>
                            Страна: <a href="#" class="profile-product__link">США</a>
                        </li>
                        <li>
                            Жанры: <a href="#" class="profile-product__link">Мультфильмы</a> <a href="#" class="profile-product__link">Семейные</a>
                        </li>
                        <li>
                            Серия: 202 серий
                        </li>
                    </ul>
                </div>
            </div>

            <div class="profile__item">
                <a href="#" class="profile-product__img">
                    <img src="../../static/img//products/9.jpg">
                </a>
                <div class="profile-product__navs">
                    <a href="#" class="profile-product__name">Холодное сердце 2</a>
                    <p class="profile-product__time">5 октября 2021 / 20:47</p>
                    <ul class="profile-product__list">
                        <li>
                            Год выпуска: <a href="#" class="profile-product__link">2017</a>
                        </li>
                        <li>
                            Страна: <a href="#" class="profile-product__link">США</a>
                        </li>
                        <li>
                            Жанры: <a href="#" class="profile-product__link">Мультфильмы</a> <a href="#" class="profile-product__link">Семейные</a>
                        </li>
                        <li>
                            Серия: 202 серий
                        </li>
                    </ul>
                </div>
            </div>

            <div class="profile__item">
                <a href="#" class="profile-product__img">
                    <img src="../../static/img//products/10.jpeg">
                </a>
                <div class="profile-product__navs">
                    <a href="#" class="profile-product__name">Джек покоритель Великанов</a>
                    <p class="profile-product__time">5 октября 2021 / 20:47</p>
                    <ul class="profile-product__list">
                        <li>
                            Год выпуска: <a href="#" class="profile-product__link">2017</a>
                        </li>
                        <li>
                            Страна: <a href="#" class="profile-product__link">США</a>
                        </li>
                        <li>
                            Жанры: <a href="#" class="profile-product__link">Мультфильмы</a> <a href="#" class="profile-product__link">Семейные</a>
                        </li>
                        <li>
                            Серия: 202 серий
                        </li>
                    </ul>
                </div>
            </div>

            <div class="profile__item">
                <a href="#" class="profile-product__img">
                    <img src="../../static/img//products/13.jpg">
                </a>
                <div class="profile-product__navs">
                    <a href="#" class="profile-product__name">Тор: Рагнарек</a>
                    <p class="profile-product__time">5 октября 2021 / 20:47</p>
                    <ul class="profile-product__list">
                        <li>
                            Год выпуска: <a href="#" class="profile-product__link">2017</a>
                        </li>
                        <li>
                            Страна: <a href="#" class="profile-product__link">США</a>
                        </li>
                        <li>
                            Жанры: <a href="#" class="profile-product__link">Мультфильмы</a> <a href="#" class="profile-product__link">Семейные</a>
                        </li>
                        <li>
                            Серия: 202 серий
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <!-- Header JS -->
    <script src="../../static/js/header.js"></script>
    <!-- Full Window Search JS -->
    <script src="../../static/js/fullsearch.js"></script>
    <!-- JQuery -->
    <script src="../../static/js/jquery.min.js"></script>
    <!-- Slick Slider Js -->
    <script src="../../static/js/slick.min.js"></script>
    <!-- Slider JS -->
    <script src="../../static/js/slider.js"></script>
    <!-- Content JS -->
    <script src="../../static/js/content.js"></script>
</body>
</html>