{% extends 'films/main_content/base.html' %}
{% load static %}

{% block main_content %}
        <!-- Content -->
    <div class="main__container">
        <div class="content">
            <!-- Content Navs -->

            <!-- Content Body -->
            <div class="content__body">
                <div class="content__inner">


                    <div class="content__item">
                        <div class="title">
                            <h1>Мы соц.сетях</h1>
                            <a href="#" class="footer__link">
                                <i class="fab fa-vk"></i>
                            </a>
                            <a href="#" class="footer__link">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="#" class="footer__link">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <a href="#" class="footer__link">
                                <i class="fab fa-telegram-plane"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="content__products">
                    {% for movie in favourite_list %}
                        <div class="content__product">
                            <a href="{% url 'film-detail' slug=movie.slug_link %}" class="content__product-img">


                                {% if movie.poster %}
                                    <img src="https://image.tmdb.org/t/p/original/{{ movie.poster }}"
                                         class="product__img">

                                {% else %}
                                    <img src="{% static 'img/products/No_image_poster.png' %}" class="product__img">
                                {% endif %}

                                <i class="fas fa-play"></i>
                            </a>

                            <a href="{% url 'film-detail' slug=movie.slug_link %}"
                               class="content__product-name">{{ movie.ru_title }}</a>

                            <ul class="content__product-menu">
                                <li>
                                    <a href="#" class="content__product-category">{{ movie.genre.all.1.name }}</a>
                                </li>
                            </ul>

                            <!-- Stars -->
                            <ul class="content__product-stars">
                                <li class="active">
                                    {{ movie.vote }}/10
                                </li>
                            </ul>

                            <div class="content__product-navs">
                                <button class="btn-primary">FullHD</button>
                                <button class="btn-primary">Дуб.</button>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="main__container">
        <ul class="pagination">
            <li>
                <a href="#" class="pagination__link pagination__arrow">
                    <i class="fas fa-angle-left"></i>
                </a>
            </li>

            <li>
                <a href="#" class="pagination__link">
                    1
                </a>
            </li>
            <li>
                <a href="#" class="pagination__link">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
            </li>
            <li>
                <a href="#" class="pagination__link">
                    13
                </a>
            </li>
            <li>
                <a href="#" class="pagination__link">
                    14
                </a>
            </li>

            <li>
                <a href="#" class="pagination__link pagination__link-active">
                    15
                </a>
            </li>

            <li>
                <a href="#" class="pagination__link">
                    16
                </a>
            </li>
            <li>
                <a href="#" class="pagination__link">
                    17
                </a>
            </li>
            <li>
                <a href="#" class="pagination__link">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
            </li>
            <li>
                <a href="#" class="pagination__link">
                    94
                </a>
            </li>

            <li>
                <a href="#" class="pagination__link pagination__arrow">
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}