{% extends 'films/auth/base.html' %}
{% block title %}Логин{% endblock %}
{% block main_content %}
    <div class="wrapper">
        <div class="container">
            <h1 class="title center">Восстановление аккаунта!</h1>
            <form method="post" action="{% url 'forgot-password' uid=uid token=token %}" class="form__control">
                {% csrf_token %}
                <input type="password" class="input-dark" placeholder="Пароль" name="password">
                <input type="password" class="input-dark" placeholder="Подвердите пароль" name="confirm_password">
                <button class="btn-primary mt-15" type="submit">Отправить</button>

            </form>
        </div>
    </div>
{% endblock %}