{% extends 'films/auth/base.html' %}
{% block title %}Логин{% endblock %}
{% block main_content %}
    <div class="wrapper">
        <div class="container">
            <h1 class="title center">Логин</h1>
            <form method="post" action="{% url 'login' %}" class="form__control">
                {% csrf_token %}
                <input type="email" class="input-dark" placeholder="E-mail" name="email">
                <input type="password" class="input-dark" placeholder="Пароль" name="password">
                <button class="btn-primary mt-15" type="submit">Войти</button>
                <a href="{% url 'register' %}" class="link-dark mt-5 center">Зарегистрироваться</a>
                <a href="{% url 'forgot-pass-send-email' %}" class="link-dark mt-5 center">Забыли пароль?</a>

            </form>
        </div>
    </div>
{% endblock %}