{% extends 'films/auth/base.html' %}
{% load static %}


{% block main_content %}

    <div class="sign section--bg" data-bg="{% static 'img/section/section.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="sign__content">
                        <!-- authorization form -->
                        <form method="post" action="{% url 'login' %}" class="sign__form">
                            {% csrf_token %}
                            {% if errors %}
                                <div class="alert alert-danger">
                                    {% for error in errors.values %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <a href="{% url 'film-list' %}" class="sign__logo">
                                <img src="{% static 'images/logo1.png' %}" alt="">
                            </a>

                            <div class="sign__group">
                                <input type="email" class="sign__input" placeholder="Email" name="email">
                            </div>

                            <div class="sign__group">
                                <input type="password" class="sign__input" placeholder="Password" name="password">
                            </div>


                            <button class="sign__btn" type="submit">Sign in</button>

                            <span class="sign__text">Don't have an account? <a href="{% url 'register' %}">Sign up!</a></span>

                            <span class="sign__text"><a href="{% url 'forgot-pass-send-email' %}">Forgot password?</a></span>
                        </form>
                        <!-- end authorization form -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
