{% extends 'films/auth/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block main_content %}
    <div class="wrapper">
        <div class="container">
            <h1 class="title center">Добро пожаловать в DIDO CINEMA</h1>
            <form method="post" action="{% url 'register' %}" class="form__control">
                {% csrf_token %}
                <input type="text" class="input-dark" placeholder="Логин" name="username">
                <input type="email" class="input-dark" placeholder="E-mail" name="email">
                <input type="password" class="input-dark" placeholder="Пароль" name="password">
                <input type="password" class="input-dark" placeholder="Подвердить пароль" name="confirm_password">
                <button class="btn-primary mt-15" type="submit">Зарегистрироваться</button>
                <a href="{% url 'login' %}" class="link-dark mt-5 center">У меня уже есть аккаунт</a>
            </form>
        </div>
    </div>
{% endblock %}