{% extends 'films/pages/base.html' %}
{% load static %}

{% block main_content %}

    <div class="page-single-2">
        <div class="container">
            <div class="row">
                <div class="middle-content">
                    <a href="{% url 'film-list' %}"><img class="md-logo" src="{% static 'images/logo1.png' %}"
                                                         alt=""></a>
                    <img src="{% static 'images/uploads/err-img.png' %}" alt="">
                    <h1>Page not found</h1>
                    <a href="{% url 'film-list' %}" class="redbtn">go home</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}